body {
  font-family: Arial, sans-serif;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}

.play_area {
  width: 100%;
  height: calc(100vh - 1in);
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c3e2edc6;
  border: 10px solid black;
}

#center_of_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 120px;
  height: 180px;
  border-radius: 8px;
  transform: rotate(-90deg);
  border: 5px solid black;
  object-fit: cover;
}

#hand_bot {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%); /* center vertically */
  background-color: #d18b96b3;
  width: 35%;
  height: calc(100vh - 1in);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr); /* 7 rows maximum */
  align-content: start;
  grid-auto-flow: column; /* fill column by column instead of row by row */
  direction: rtl; /* right to left starting from right */
}

#hand_bot img {
  width: 75px;
  height: 120px;
  border-radius: 6px;
  transform: rotate(-90deg);
  border: 5px solid black;
  object-fit: cover;
  margin-right: 45px;
}

#player_hand {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); /* center vertically */
  background-color: #facc78cc;
  width: 35%;
  height: calc(100vh - 1in);
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* one fraction of the available space */
  grid-template-rows: repeat(6, 1fr); /* 7 rows maximum */
  align-content: start;
  grid-auto-flow: column; /* fill column by column instead of row by row */
  direction: ltr; /* right to left starting from right */
}

#player_hand img {
  width: 75px;
  height: 120px;
  border-radius: 6px;
  transform: rotate(-90deg);
  border: 5px solid black;
  object-fit: cover;
  margin-left: 45px;
}